/2022-06-01_RNAseq_sqreen_exp_descr.docx
/2022-06-01_RNAseq_sqreen_exp_descr.xlsx
/all_samples.pdf
/count_matrix_Agne_MCF10A_mutants_with_symbols 2.xlsx
/count_matrix_Agne_MCF10A_mutants_with_symbols.csv
/count_matrix_Agne_MCF10A_mutants_with_symbols.tsv
/count_matrix_Agne_MCF10A_mutants_with_symbols_2.csv
/density_plot_rowmeans.pdf
/sample_of_count_matrix.tsv
/sample_of_count_matrix.xlsx
/~$count_matrix_Agne_MCF10A_mutants_with_symbols 2.xlsx
/~$sample_of_count_matrix.xlsx